<div class="uk-container uk-container-large">
  <div class="header-base">
    Header

    <div class="navigation-buttons">
      <div class="uk-button-group">
        <button class="uk-button uk-button-secondary">Home</button>
        <button class="uk-button uk-button-secondary">Recruiters</button>
        <button class="uk-button uk-button-secondary">Candidates</button>
        <button class="uk-button uk-button-secondary">Jobs</button>
        <button class="uk-button uk-button-secondary">Faq</button>
        <button class="uk-button uk-button-secondary">About Us</button>
        <button class="uk-button uk-button-secondary">Contact</button>
      </div>
    </div>
  </div>
</div>
