<div class="uk-container uk-container-large">
  <div class="header-base">
    Header

    <div class="navigation-buttons">
      <div class="uk-button-group">
        <button class="uk-button uk-button-secondary">
          <a routerLink="/home" routerLinkActive="uk-button-primary">Home</a>
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/recruiters" routerLinkActive="uk-button-primary"
            >Recruiters</a
          >
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/candidates" routerLinkActive="uk-button-primary"
            >Candidates</a
          >
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/jobs" routerLinkActive="uk-button-primary">Jobs</a>
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/faq" routerLinkActive="uk-button-primary">FAQ</a>
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/about-us" routerLinkActive="uk-button-primary"
            >About Us</a
          >
        </button>
        <button class="uk-button uk-button-secondary">
          <a routerLink="/contact" routerLinkActive="uk-button-primary"
            >Contact</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
